@model MyProject.Web.Models.IndexPostsViewModel
@{
    ViewBag.Title = "Index";
}

<div class="header-image position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="imageCoverBackground"></div>
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <div class="headerHelloSmall">howdy</div>
        <div class="headerHelloBig">webtraveler</div>
        <a class="btn primary" href="#">Coming soon</a>
    </div>
</div>

<div class="container">
    @if (Model.featuredPost != null)
    {
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-darker">
            <div class="col-md-6 padding-sides">
                <div class="blogPostWrapFeatured">featured</div>
                <h1 class="display-4">@Model.featuredPost.Title</h1>
                <div class="blogPostDate">@Model.featuredPost.Date.ToString("MMMM dd")</div>
                <p class="lead my-3">@Html.Raw(Model.featuredPost.PostContent)</p>
                <p class="lead mb-0">
                    <a class="font-weight-bold" href="/Blog/Details/@Model.featuredPost.PostId" target="_blank">Continue reading...</a>
                </p>
            </div>
            <div class="col-md-6 px-0">
                <a class="blogPostWrap" href="/Blog/Details/@Model.featuredPost.PostId" style="background-image: url(@Model.featuredPost.ImageUrl);"></a>
            </div>
        </div>
    }

    <div class="container-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">latest posts</h1>
        <p class="lead">lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi tellus, posuere in suscipit in, fermentum a odio. Ut varius finibus ex vel cursus. Curabitur justo nibh, volutpat eget justo quis, interdum ultricies elit. Aenean vulputate ultricies nibh.</p>
    </div>
    
    <div class="row mb-2">
    @if (Model.lastPosts != null)
    {
        var cols = 12 / Model.lastPosts.Count;
        foreach (var post in Model.lastPosts)
        {
            <div class="col-md-@cols">
                <div class="postWrap postCenter card" style="width: auto;">
                    <a class="postWrapImage" href="/Blog/Details/@post.PostId" style="background-image: url(@post.ImageUrl);"></a>
                    <div class="d-flex flex-column align-items-start">
                        <div class="postWrapTitle mb-0">
                            @post.Title
                            <span class="postTitleDot"></span>
                        </div>
                        <span class="postWrapDesc">
                            <p>@Html.Raw(post.PostContent)</p>
                            <a class="btn important" href="/Blog/Details/@post.PostId" target="_blank">read more</a>
                        </span>
                    </div>
                </div>
            </div>
        }
    }
    </div>
</div>